/viewPagerIndicator/viewPagerIndicator.iml
/viewPagerIndicator/build
/local.properties
/twoWayViewLayouts/gradle.properties
/photoPick/photoPick.iml
/app/build
/gradle
/twoWayViewLayouts/twoWayViewLayouts.iml
/photoPick/build
/app/app.iml
/gradle.properties
/slidingMenu/build
/gradlew.bat
/cropImage/cropImage.iml
/MandapTak.iml
/photoPick/PhotoPicker-PhotoPicker.iml
/.gitignore.swp
/cropImage/build
/.gradle
/twoWayViewCore/build
/.idea
/twoWayViewLayouts/build
/slidingMenu/slidingMenu.iml
/twoWayViewCore/gradle.properties
/photoPick/PhotoPicker.iml
/build
**/*.iml
/gradlew
