.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

gradle
build
slidingMenu/slidingMenu.iml
slidingMenu/build
viewPagerIndicator/viewPagerIndicator.iml
viewPagerIndicator/build
gradlew
gradlew.bat
import-summary.txt
gradle.properties
local.properties
MandapTak.iml
app/build
.idea
app/.gitignore
app/app.iml
app/proguard-rules.pro